/*通用属性*/
body{    margin: 0;    padding: 0;    border: 0;    text-align: center;    overflow: hidden;width: 100%;
    height: 100%;position: fixed;    font-family: "Segoe WP", "Segoe UI", "Verdana", "Arial";    touch-action: none;
    -ms-touch-action: none;}
ul {    list-style: none;    margin: 0;    padding: 0;}
li{    list-style: none;    margin: 0;    padding: 0;}
ul li {    float: left;}
button{    cursor: pointer;    height: 23px;}
a:link{    text-decoration: none;}

/*顶层属性*/
#all_base{min-height: 576px;min-width: 1024px;height: 100%;width:100%;position: relative}
#div_control{height: 100%;width:100%;background-color: transparent;z-index: 100;position: absolute;top: 0px;left: 0px;pointer-events: none;}
#renderCanvas {    width: 100%;    height: 100%;    outline: none;}
.div_col{width: 80px;height: 26px;padding: 5px;overflow: visible;position: relative;pointer-events: none;}
.to_left{float: left;text-align: left}
.to_right{float: right;text-align: right}
.btn_first{text-align: center;width: 60px;pointer-events:auto}
.btn_second{text-align: center;overflow: visible;overflow-wrap: normal;display: block;position: absolute;pointer-events:auto}
.hidden{display: none}
.btn_third{text-align: center;display: block;pointer-events:auto}
.div_mask{    height: 100%;    width: 100%;    display:block;    z-index: 400;    background: #cccccc;    position: absolute;
    left: 0px;    top: 0px;    filter: alpha(opacity=40);    opacity: 0.40;    overflow: hidden;}

/*弹出层的一些属性*/
.div_cook2{    margin-top: 5px;    margin-left: 0px;    margin-right: auto;    width: 100%;    height: 35px;    font-family: 宋体;    font-size: 12px;    float: left;}
.div_cook2 ul{float: left;margin-top: 5px;margin-bottom: 15px}
.div_cook2 li{    float: left;    /*margin-top: 10px;*/    margin-left: 5px;    margin-right: 10px;    /*color:darkred;*/    color:#020202;}
.div_cook2 span{    width: 120px;    float: left;    text-align: right;    /*color: darkred;*/    color: #15428b;    padding-right: 5px;    font-weight: bold;}
.div_cook2 button{    float: left;    margin-right: 5px;    margin-left: 5px;    width: 52px;    height: 20px;    text-align: center;    background-color: #d6e7ef;    border: solid 1px #020202;}
.btn_close{    float:right;position:static; width: 14px;height: 14px; margin: 0;margin-top: 2px;margin-right:2px;padding: 0
;background: url(../IMAGE/close.png) no-repeat;border: 0px;vertical-align:top;z-index: 101;}
.str_number{    border: solid 1px #020202;    width: 60px;}
.str_normal{    border: solid 1px #020202;    width: 120px;}
.str_date{    width: 120px;}
.str_text{    border: solid 1px #020202;    width:220px ;  }
#fps {    position: absolute;    right: 20px;    top: 5em;    font-size: 20px;    color: white;/*帧数显示*/
    text-shadow: 2px 2px 0 black;}